@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-margin-top: 4rem;
  }

  html {
    @apply bg-light text-dark;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-semibold;
  }

  h5 {
    @apply text-lg font-semibold;
  }

  img {
    max-width: 100%;
  }
}

@layer components {
  .max-width {
    @apply max-w-[88rem] mx-auto px-4;
  }

  .absolute-center {
    @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
  }

  .bg-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/banner.png);
    background-size: cover;
    background-position: center;
  }

  .border-l-indicator {
    @apply relative;
  }

  .border-l-indicator::before {
    @apply absolute top-1/2 -left-3 -translate-y-[45%] w-[3px] h-[75%] rounded-md bg-primary z-10;
    content: '';
  }

  .bot-button-indicator {
    @apply relative;
  }

  .bot-button-indicator::before {
    @apply absolute top-1/2 -right-1 translate-y-1/2 w-5 aspect-square bg-green-600 rounded-full z-10;
    content: '';
  }

  .bot-container-shadow {
    box-shadow: 0px -2px 50px 0px rgba(0, 0, 0, 0.3);
    /* Offset, Blur, Spread, and Color */
  }
}